{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    {% include 'partial/_navbar.html'%}


  <div>
    <img src="{% static 'assets/icones/SetaVolta.png' %}" alt="setaVoltar">
    <div class="colaborador_texto_navbar_vertical">Novos Membros</div>
  </div>  

  <div class="search-bar">
    <form id="search-form">
        <img class="search-bar-add-colaborador-backgroud" src="{% static 'assets/imagens/BarraPesquisa.png' %}" alt="baraDePesquisa">
        <input class="search-bar-add-colaborador" type="text" id="search-input">
    </form>
  </div>

  <div class="card-add-colaborador-grid" style="top: 250px;">
    {% for user in users_no_colaborator %}
      <div class="card-add-colaborador" data-user-id="{{ user.id }}">
        <div class="card-add-colaborador-imagem-contener">
          <img class="card-add-colaborador-imagem" src="{% static user.foto %}" alt="{{ user.username }} Foto">
        </div>
        <div class="card-add-colaborador-blue-box">
          <div class="card-add-colaborador-text">
            Username: {{user.username}}
          </div>
          <div class="card-add-colaborador-text">
            Ultimo Login: {{user.last_login|date:"d/m/Y"}}
          </div>
          <div class="card-add-colaborador-text">
            Email: {{user.email}}
          </div>
          <div class="card-add-colaborador-text">
            Interações: {{user.historicos_count}}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#search-input').on('input', function() {
              var query = $(this).val();

              $.ajax({
                  url: '/novos_membros/buscar',  // Substitua pela URL correta da sua view de pesquisa dinâmica
                  data: {'search_query': query},
                  dataType: 'json',
                  success: function(data) {
                      var resultsList = $('.card-add-colaborador-grid');
                      resultsList.empty();

                      $.each(data.users, function(index, user) {
                          resultsList.append(`
                              <div class="card-add-colaborador" data-user-id="{{ user.id }}">
                                  <div class="card-add-colaborador-imagem-contener">
                                    <img class="card-add-colaborador-imagem" src="{% static user.foto %}" alt="{{ user.username }} Foto">
                                  </div>
                                  <div class="card-add-colaborador-blue-box">
                                      <div class="card-add-colaborador-text">
                                          Username: ${user.username}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Ultimo Login: ${user.last_login}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Email: ${user.email}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Interações: ${user.historicos_count}
                                      </div>
                                  </div>
                              </div>
                          `);
                      });
                  }
              });
          });

          $('.card-add-colaborador').click(function() {
            var userId = $(this).data('user-id');
            var userDetailUrl = "{% url 'novos_membros_buscar_user' user_id=0 %}".replace('0', userId);
            
            window.location.href = userDetailUrl;
          });
      });
  </script>
    

</body>
</html>
{% endblock %} 