{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    {% include 'partial/_navbar.html'%}

    <a class="botaoSair" href="{% url 'novos_membros' %}" style="display: block;">
      <img class="navbar-seta-voltar" id="SetaBackID" src="{% static 'assets/imagens/SetaBack.png' %}" style="display: block;" alt="botaoSair">
    </a>

    <div class="colaborador_texto_navbar_vertical">Novos Membros</div>
    
    {% if formularios %}
      <div class="card-add-colaborador-grid">
          {% for perfil in formularios %}
            <a href="{% url 'novos_membros_formulario_user' user_id=perfil.user.id %}" style="text-decoration: none;">
              <div class="card-add-colaborador" data-user-id="{{ perfil.user.id }}">
                <div class="card-add-colaborador-imagem-contener">
                  <img class="card-add-colaborador-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ perfil.user.username }} Foto">
                </div>
                <div class="card-add-colaborador-blue-box">
                  <div class="card-add-colaborador-text">
                    Username: {{perfil.user.username}}
                  </div>
                  <div class="card-add-colaborador-text">
                    Cargo: {{perfil.cargo}}
                  </div>
                  <div class="card-add-colaborador-text">
                    Email: {{perfil.user.email}}
                  </div>
                  <div class="card-add-colaborador-text">
                    {% if perfil.user.last_login %}
                      Ultimo Login: {{perfil.user.last_login|date:"d/m/Y"}}
                    {% else %}
                      Ultimo Login: NUNCA LOGOU
                    {% endif %}
                  </div>
                </div>
              </div>
            </a>
          {% endfor %}
        </div>
      {% else %}
        <div class="sem-funcao">
          NÃO HÁ NOVOS FORMULARIOS
          PREENCHIDOS, SEM PEDIDOS DE
          SE TORNAR COLABORADOR
        </div>
      {% endif %}
</body>
</html>
{% endblock %}