{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    {% include 'partial/_navbar.html'%}

    <!---->
  <div>
    <div class="colaborador_texto_navbar_vertical">Novos Membros</div>
  </div>  

  <div class="search-bar">
    <form id="search-form">
        <img class="search-bar-add-colaborador-backgroud" src="{% static 'assets/imagens/BarraPesquisa.png' %}" alt="baraDePesquisa">
        <input class="search-bar-add-colaborador" type="text" id="search-input">
    </form>
  </div>

  {% if users_no_colaborator %}
    <div class="card-add-colaborador-grid" style="top: 250px;">
      {% for user in users_no_colaborator %}
        <div class="card-add-colaborador" data-user-id="{{ user.id }}">
          <div class="card-add-colaborador-imagem-contener">
            <img class="card-add-colaborador-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
          </div>
          <div class="card-add-colaborador-blue-box">
            <div class="card-add-colaborador-text">
              Nome: {{user.first_name}} {{user.last_name}}
            </div>
            <div class="card-add-colaborador-text">
              Username: {{user.username}}
            </div>
            <div class="card-add-colaborador-text">
              {% if user.last_login %}
                Ultimo Login: {{user.last_login|date:"d/m/Y"}}
              {% else %}
                Ultimo Login: NUNCA LOGOU
              {% endif %}
            </div>
            <div class="card-add-colaborador-text">
              Email: {{user.email}}
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% else %}
    <div class="sem-funcao">
      NÃO HÁ NOVOS USUÁRIOS NÃO
      COLABORADORES, SEM PEDIDOS DE
      SE TORNAR COLABORADOR
    </div>
  {% endif %}
  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#search-input').on('input', function() {
              var query = $(this).val();

              $.ajax({
                  url: '/novos_membros/buscar',  // Substitua pela URL correta da sua view de pesquisa dinâmica
                  data: {'search_query': query},
                  dataType: 'json',
                  success: function(data) {
                      var resultsList = $('.card-add-colaborador-grid');
                      resultsList.empty();

                      $.each(data.users, function(index, user) {

                        function formatDate(dateString) {
                            const options = { day: '2-digit', month: '2-digit', year: 'numeric' };
                            return new Date(dateString).toLocaleDateString('pt-BR', options);
                        }
                          resultsList.append(`
                              <div class="card-add-colaborador" data-user-id="{{ user.id }}">
                                  <div class="card-add-colaborador-imagem-contener">
                                    <img class="card-add-colaborador-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
                                  </div>
                                  <div class="card-add-colaborador-blue-box">
                                      <div class="card-add-colaborador-text">
                                          Nome: ${user.first_name} ${user.last_name}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Username: ${user.username}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Ultimo Login: ${user.last_login ? formatDate(user.last_login) : 'NUNCA LOGOU'}
                                      </div>
                                      <div class="card-add-colaborador-text">
                                          Email: ${user.email}
                                      </div>
                                  </div>
                              </div>
                          `);
                      });
                  }
              });
          });

          $('.card-add-colaborador').click(function() {
            var userId = $(this).data('user-id');
            var userDetailUrl = "{% url 'novos_membros_buscar_user' user_id=0 %}".replace('0', userId);
            
            window.location.href = userDetailUrl;
          });
      });
  </script>
    

</body>
</html>
{% endblock %} 