<!-- user_detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>
    <!-- Conteúdo detalhado do usuário aqui -->
    {% include 'partial/_navbar.html'%}
    <div class="colaborador_texto_navbar_vertical">{{ user_.username }}</div>

    <div class="formulario-user-imagem-contener">
        <img class="formulario-user-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
    </div>
    <div class="card-container-nome-add-gestor">
        <div class="card-background-nome-add-gestor"></div>
    
        <div class="card-text-nome-add-gestor" id="NomeUser">
            {{user_.first_name}} {{user_.last_name}}
        </div>
    
    </div>

    <div class="email-box-add-gestor" id="EmailUser">{{user_.email}}</div>
    
    <canvas id="graficoPizzaInteracoes" style="position: absolute; left: 793px; top: 460px; width: 300px; height: 300px; "></canvas>

    <div class="numero-meio-grafico">{{ dados_interacoes.numero1|add:dados_interacoes.numero2 }}</div>

    <div class="caixa-texto-legenda-grafico" >
        Interações
        <div class="quadrado-legenda-grafico" style="background: #058DA0; top: 60px;"></div>
        <div class="legenda-texto-legenda-grafico" style="top: 60px;">Feedbacks - {{dados_interacoes.numero1}}</div>
        <div class="quadrado-legenda-grafico"></div>
        <div class="legenda-texto-legenda-grafico">Suporte e Report - {{dados_interacoes.numero2}}</div>
    </div>

    <canvas id="graficoPizzaHistorico" style="position: absolute; left: 1212.76px; top: 460px; width: 300px; height: 300px;"></canvas>

    <div class="numero-meio-grafico" style="left: 1334px;">{{ dados_histrico.numero1|add:dados_histrico.numero2 }}</div>

    
    <div class="caixa-texto-legenda-grafico" style="left: 1266px;">
        Mídias assistidas
        <div class="quadrado-legenda-grafico" style="background: #0ABAB5; top: 60px;"></div>
        <div class="legenda-texto-legenda-grafico" style="top: 60px;">Completas - {{dados_histrico.numero1}}</div>
        <div class="quadrado-legenda-grafico" style="background: #1E4F56;"></div>
        <div class="legenda-texto-legenda-grafico">Incompletas - {{dados_histrico.numero2}}</div>
    </div>
    
    <div class="retangle-button-addmit">
        Admitir
    </div>
    
    <script>
        var nomeUser = document.getElementById('NomeUser');

        var numeroCaracteres = nomeUser.innerText.length;
        var tamanhoContaniner = (numeroCaracteres * 15) + 50;

        document.querySelector('.card-container-nome-add-gestor').style.width = tamanhoContaniner + 'px'; 

        var emailUser = document.getElementById('EmailUser');

        var numeroCaracteresEmail = nomeUser.innerText.length;
        var tamanhoContaninerEmail = (numeroCaracteres * 15) + 20;

        document.querySelector('.email-box-add-gestor').style.width = tamanhoContaninerEmail + 'px'; 

        window.onload = function() {
            var ctx1 = document.getElementById('graficoPizzaInteracoes').getContext('2d');
            var dadoInteracoes = {{ dados_interacoes|safe }};

            var chart = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [dadoInteracoes.numero1, dadoInteracoes.numero2],
                        backgroundColor: ['#058DA0', '#F8F8F8'],
                        borderWidth: 0,
                    }],
                },
                options: {
                    responsive: false,
                    cutoutPercentage: 90,
                }
            });

            var ctx2 = document.getElementById('graficoPizzaHistorico').getContext('2d');
            var dadosHistrico = {{ dados_histrico|safe }};

            var chart = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [dadosHistrico.numero1, dadosHistrico.numero2],
                        backgroundColor: ['#0ABAB5', '#1E4F56'],
                        borderWidth: 0,
                    }],
                },
                options: {
                    responsive: false,
                    cutoutPercentage: 90,
                }
            });
        }
        
        
    </script>
</body>
</html>
{% endblock %} 