{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    {% include 'partial/_navbar.html'%}
    <div class="colaborador_texto_navbar_vertical">Novos Membros</div>

    <a href="{% url 'novos_membros_formulario' %}">
        <img src="{% static 'assets/icones/IconeAcicionarFormulario.png' %}" alt="AdicionarFormulario" style="position: absolute; width: 18.125%; height: 32.31%; left: 31.354%; top: 35.37%;"> 
    </a>

    <a href="{% url 'novos_membros_buscar' %}">
       <img src="{% static 'assets/icones/IconeAdicionarBuscarUsuario.png' %}" alt="BuscarUsuarios" style="position: absolute; width: 18.125%; height: 32.31%; left: 65.083%; top: 35.37%;">  
    </a>
    
</body>
</html>
{% endblock %}
