{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>

    {% include 'partial/_navbar.html'%}
    <div class="colaborador_texto_navbar_vertical">{{ perfil.user.username }}</div>

    <div class="formulario-user-imagem-contener">
        <img class="formulario-user-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ perfil.user.username }} Foto">
    </div>

    <div class="card-container-nome-add-gestor">
        <div class="card-background-nome-add-gestor"></div>
    
        <div class="card-text-nome-add-gestor" id="NomeUser">
            {{perfil.user.first_name}} {{perfil.user.last_name}}
        </div>
    
    </div>

    <div class="email-box-add-gestor" id="EmailUser">{{perfil.user.email}}</div>

    <div class="card-text-formulario">{{perfil.motivacao}}</div>

    <canvas id="graficoPizzaInteracoes" style="position: absolute; left: 560px; top: 451px; width: 152.19px; height: 152.19px;"></canvas>

    <div class="numero-meio-grafico-menor">{{ dados_interacoes.numero1|add:dados_interacoes.numero2 }}</div>

    <div class="caixa-texto-legenda-grafico-menor">
        Interações
        <div class="quadrado-legenda-grafico-menor" style="background: #058DA0;"></div>
        <div class="legenda-texto-legenda-grafico-menor">Feedbacks - {{dados_interacoes.numero1}}</div>
        <div class="quadrado-legenda-grafico-menor" style="left: 140px;"></div>
        <div class="legenda-texto-legenda-grafico-menor" style="left: 160px;">Suporte e Report - {{dados_interacoes.numero2}}</div>
    </div>
   
    <canvas id="graficoPizzaHistorico" style="position: absolute; left: 560px; top: 674px; width: 152.19px; height: 152.19px;"></canvas>

    <div class="numero-meio-grafico-menor" style="top: 682px;">{{ dados_histrico.numero1|add:dados_histrico.numero2 }}</div>

    
    <div class="caixa-texto-legenda-grafico-menor" style="top: 831px;">
        Mídias assistidas
        <div class="quadrado-legenda-grafico-menor" style="background: #0ABAB5;"></div>
        <div class="legenda-texto-legenda-grafico-menor">Completas - {{dados_histrico.numero1}}</div>
        <div class="quadrado-legenda-grafico-menor" style="background: #1E4F56; left: 140px;"></div>
        <div class="legenda-texto-legenda-grafico-menor" style="left: 160px;">Incompletas - {{dados_histrico.numero2}}</div>
    </div>

    <div class = "buttons-forms-container-group">
        <div class="retangle-button-addmit">
            Admitir
        </div>
        <div class="retangle-button-negar">
            Negar
        </div>
        <div class="retangle-button-mais-estatisticas">
            Mais estatísticas
        </div>
    </div>


    <script>
        var nomeUser = document.getElementById('NomeUser');

        var numeroCaracteres = nomeUser.innerText.length;
        var tamanhoContaniner = (numeroCaracteres * 15) + 50;

        document.querySelector('.card-container-nome-add-gestor').style.width = tamanhoContaniner + 'px'; 

        var emailUser = document.getElementById('EmailUser');

        var numeroCaracteresEmail = nomeUser.innerText.length;
        var tamanhoContaninerEmail = (numeroCaracteres * 15) + 20;

        document.querySelector('.email-box-add-gestor').style.width = tamanhoContaninerEmail + 'px'; 

        window.onload = function() {
            var ctx1 = document.getElementById('graficoPizzaInteracoes').getContext('2d');
            var dadoInteracoes = {{ dados_interacoes|safe }};

            var chart = new Chart(ctx1, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [dadoInteracoes.numero1, dadoInteracoes.numero2],
                        backgroundColor: ['#058DA0', '#F8F8F8'],
                        borderWidth: 0,
                    }],
                },
                options: {
                    responsive: false,
                    cutoutPercentage: 90,
                }
            });

            var ctx2 = document.getElementById('graficoPizzaHistorico').getContext('2d');
            var dadosHistrico = {{ dados_histrico|safe }};

            var chart = new Chart(ctx2, {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: [dadosHistrico.numero1, dadosHistrico.numero2],
                        backgroundColor: ['#0ABAB5', '#1E4F56'],
                        borderWidth: 0,
                    }],
                },
                options: {
                    responsive: false,
                    cutoutPercentage: 90,
                }
            });
        }
    </script>
</body>
</html>
{% endblock %} 