<style>
    .container {
        width: 50%;
        text-align: center;
        font-size: large;
        margin: 60px auto 0;
        min-height: 450px;
        border-radius: 2%;
        border: 5px solid black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-container {
        text-align: center;
    }
    .password-field label {
        display: block;
        margin-bottom: 10px;
    }
    .password-field input {
        width: 300px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 15px;
    }
</style>

{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color: #ffff">
    {% include 'partial/_navbar.html' %}
    <div class="container">
        <h1>FAÇA O SEU CADASTRO</h1>
        <form method="post" action="{% url 'usuario_cadastrado' %}">
            {% csrf_token %}

            <div class="input-container">
                <label for="username" style="font-weight: bold; font-size: 20px;">Username:</label>
                <input type="text" id="username" name="username" style="width: 300px; height: 40px; font-size: 20px;" required><br>

                <br>

                <label for="nome" style="font-weight: bold; font-size: 20px;margin-left: 35px;">Nome:</label>
                <input type="text" id="username" name="first-name" style="width: 300px; height: 40px; font-size: 20px;" required><br>

                <br>

                <label for="nome" style="font-weight: bold; font-size: 20px;margin-right:-6px">Sobrenome:</label>
                <input type="text" id="username" name="last-name" style="width: 300px; height: 40px; font-size: 20px;" required><br>

                <br>

                <label for="email" style="font-weight: bold; font-size: 20px; margin-left: 35px;">Email:</label>
                <input type="text" id="email" name="email" style="width: 300px; height: 40px; font-size: 20px;" required><br>

                <br>

                <label for="email" style="font-weight: bold; font-size: 20px; margin-left: -65px;">Confirme o Email:</label>
                <input type="text" id="email" name="email" style="width: 300px; height: 40px; font-size: 20px;" required><br>

                <br>

                <div class="input-container">
                    <label for="password" style="font-weight: bold; font-size: 20px; margin-left: 35px;">Senha:</label>
                    <input type="password" id="password" name="password" style="width: 300px; height: 40px; font-size: 20px;" required><br>
        
                    <br>
        
                    <label for="password" style="font-weight: bold; font-size: 20px; margin-left: -80px;">Confirme sua senha:</label>
                    <input type="password" id="password" name="password" style="width: 300px; height: 40px; font-size: 20px;" required><br>
                </div>

                <br>
                <br>
                
                <div class="btn-container">
                    <input type="image" src="https://cdn.discordapp.com/attachments/1114362089125974037/1174501289128898590/Group_263.png?ex=6567d290&is=65555d90&hm=3e0a35b8b11af5bbdde9bf675fc137b23d23d39be9b079e128fbab0bb05f5579&" alt="Botão de Cadastro">
                    &nbsp;
                    <a href="{% url 'login' %}"><img src="https://cdn.discordapp.com/attachments/938158080733110393/1174502697148354662/Group_264.png?ex=6567d3e0&is=65555ee0&hm=75eb201a9275f3ed0c5fa3761bc4b26244d5cef076a2daab1fd140bba535229d&" alt="Botão de Voltar"></a>
                </div>

            </div>

        </form>
    </div>
</body>
</html>
{% endblock %}
