{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <!-- seu_template_cargo.html -->
    {% include 'partial/_navbar.html'%}

    {% if perfil_colaborador %}

        {% if perfil_colaborador.status == 'analise' and perfil_colaborador.atividade == False %}
            <div class="fundo-cinza-formulario-desabilitado"></div>

            <div class="texto-formulario-desabilitado">
                ABA DESABILITADA!<br>
                (Você já enviou um formulário!)
            </div>
        {% elif perfil_colaborador.status == 'analise' and perfil_colaborador.atividade == True %}
            <div class="fundo-cinza-formulario-desabilitado"></div>
            <div class="notificacao-fundo">
                <div class="notificacao-titulo">Equipe Libriflix</div>
                {% if perfil_colaborador.cargo == 'reportuser' %}
                    <div class="notificacao-mensagem">
                        Você foi chamado para a equipe de Suporte e Reporte
                    </div>
                {% elif perfil_colaborador.cargo == 'midiauser' %}
                    <div class="notificacao-mensagem">
                        Você foi chamado para o cargo de Gestor de Titulos
                    </div>
                {% else %}
                {% endif %}

                <div class="notificacao-botao-contener">
                    <a href="{% url 'aceitar_chamar' %}" style="text-decoration: none;">
                        <button class="notificacao-botao">
                            Aceitar
                        </button>
                    </a>

                    <a href="{% url 'negar_chamar' %}" style="text-decoration: none;">
                        <button class="notificacao-botao" style="background-color: #A00128;" >
                            Negar
                        </button>
                    </a>
                    
                </div>
            </div>
        {% else %}
        {% endif %}
    {% else %}
    {% endif %}

    {% if notificacao %}
            <div class="fundo-cinza-formulario-desabilitado"></div>
            <div class="notificacao-fundo">
                
                <div class="notificacao-mensagem" style="top: 50px; overflow: hidden; height: 200px;">
                    Você foi removido da equipe:<br>
                    {{ notificacao.mensagem }}
                </div>
                
                <div class="notificacao-botao-contener">
                    <a href="{% url 'execluir_notificacao' %}" style="text-decoration: none;">
                        <button class="notificacao-botao">
                            Fechar
                        </button>
                    </a>
                </div>
            </div>
    {% else %}
    {% endif %}

    <div>
        <div class="colaborador_texto_navbar_vertical">Fomulario</div>
        <img class="formulario_logo_navbar_vertical" style="position: fixed;" src="{% static 'assets/logos/Logo2.png' %}" alt="Lumi">
    </div>  

    <a class="botaoSair" href="{% url 'home' %}" style="display: block;">
        <img class="navbar-seta-voltar" id="SetaBackID" src="{% static 'assets/imagens/SetaBack.png' %}" style="display: block;" alt="botaoSair">
    </a>

    <div class="formulario-user-imagem-contener">
        <img class="formulario-user-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
    </div>

    <div class="formulario-user-texto-nome">
        {{user.first_name}} {{user.last_name}}
    </div>

    <div class="formulario-texto-intrucao">
        Escreva sua motivação
        para tornar-se um colaborador
    </div>
    
    <form method="post" action="{% url 'formulario_colaborador' %}" style="width: 367px; height: 67px;">
        {% csrf_token %}
        <div id="myModal" class="confirmation-modal">
            <div class="modal-content-formulario">
                <div class="modal-texto-formulario">
                    Você tem certeza de que deseja ENVIAR?<br>
                    (Essa aba será desabilitada logo depois)</div>
                <div class="notificacao-botao-contener-fomulario">
                    <button type="submit" class="botao-modal-formulario" name="submit_type" value="enviar">Enviar</button>
                    <button type="submit" class="botao-modal-formulario" style="background-color: #A00128;" name="submit_type" value="voltar">Editar</button>
                </div>
            </div>
        </div>

        <div id="myModal2" class="confirmation-modal">
            <div class="modal-content-formulario">
                <div class="modal-texto-formulario"></div>
                <div class="notificacao-botao-contener-fomulario">
                    <button type="submit" class="botao-modal-formulario" name="submit_type" value="voltar">Corrigir</button>
                </div>
            </div>
        </div>

        <div id="myModal3" class="confirmation-modal">
            <div class="modal-content-formulario">
                <div class="modal-texto-formulario">
                    Você tem certeza de que deseja DESCARTAR ?<br>
                    (Você perderar todo seu progresso)</div>
                <div class="notificacao-botao-contener-fomulario">
                    <button type="submit" class="botao-modal-formulario" name="submit_type" value="descartar">Sim</button>
                    <button type="submit" class="botao-modal-formulario" style="background-color: #A00128;" name="submit_type" value="voltar">Não</button>
                </div>
            </div>
        </div>

        <div class="custom-select">
            <select id="id_opcao" name="cargo">
                <option value="" selected disabled>ESCOLHA UM CARGO</option>
                <option value="reportuser" {% if form.initial.cargo == 'reportuser' %}selected{% endif %}>SUPORTE E REPORTE</option>
                <option value="midiauser" {% if form.initial.cargo == 'midiauser' %}selected{% endif %}>GERENTE DE ACERVO</option>
            </select>
        </div>

        <div class="input-box">
            <textarea id="user-input" name="motivacao" placeholder="Digite seu texto aqui...">{{ form.initial.motivacao }}</textarea>
            <div class="card-add-colaborador-text" id="char-count" style="position: absolute; right: 0%; top: 100%; font-size: 18px; line-height: 18px;">Limite de caracteres: 1500</div>
        </div>

        

        <div class="button-container" style="left: 1700px; top: 998px;">
            <button type="submit" class="custom-button" style="background: #A00128;" name="submit_type" value="descartar">
                <span class="button-text">Descartar</span>
            </button>
        </div>

    </form>

    <div class="button-container">
        <button class="custom-button" onclick="abrirModal()">
            <span class="button-text">Enviar</span>
        </button>
        <br>
    </div>

    <div class="button-container" style="left: 1700px; top: 998px;">
        <button class="custom-button" style="background: #A00128;" onclick="abrirModal3()">
            <span class="button-text">Descartar</span>
        </button>
        <br>
    </div>

    <script>
        

        function abrirModal() {
            var cargo = document.getElementById('id_opcao').value;
            var motivacao = document.getElementById('user-input').value;
            var mensagem = "";

            if (cargo === "" || motivacao === "") {
                mensagem += "ERRO NO ENVIO!<br>";

                if (cargo === "") {
                    mensagem += "(Você não selecionou um cargo.)<br>";
                }

                if (motivacao === "") {
                    mensagem += "(Você não escreveu seu texto.)<br>";
                }
            }


            var modal2 = document.getElementById('myModal2');
            var modal2Content = modal2.querySelector('.modal-texto-formulario');
            
            if (mensagem !== "") {
                modal2Content.innerHTML = mensagem;
                modal2.style.display = 'block';
            } else {
                var modal = document.getElementById('myModal');
                modal.style.display = 'block';
            }
        }

        function abrirModal3() {
            var modal = document.getElementById('myModal3');
            modal.style.display = 'block';
        }
        

         
        var textarea = document.getElementById('user-input');
        var charCount = document.getElementById('char-count');

         // Define o comprimento máximo permitido
        var maxLength = 1500;

         // Função para contar caracteres e atualizar a contagem
        function countCharacters() {
            var currentLength = textarea.value.length;

            if (currentLength > maxLength) {
                textarea.value = textarea.value.substring(0, maxLength);
                currentLength = maxLength;
            }

            charCount.textContent = 'Caracteres restantes: ' + (maxLength - currentLength);
        }

         // Adiciona um ouvinte de evento ao campo de texto
        textarea.addEventListener('input', countCharacters);

         // Chama a função inicialmente para garantir que a contagem seja exibida corretamente
        countCharacters();

        // Obtém o token CSRF do cookie
        var csrftoken = getCookie('csrftoken');

        // Configura o cabeçalho da solicitação AJAX
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>


</body>

{% endblock %}