{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <!-- seu_template_cargo.html -->
    {% include 'partial/_navbar.html'%}
    
    <div>
        <div class="colaborador_texto_navbar_vertical">Fomulario</div>
        <img class="formulario_logo_navbar_vertical" src="{% static 'assets/logos/Logo2.png' %}" alt="Lumi">
    </div>  

    <div class="formulario-user-imagem-contener">
        <img class="formulario-user-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
    </div>

    <div class="formulario-user-texto-nome">
        {{user.first_name}} {{user.last_name}}
    </div>

    <div class="formulario-texto-intrucao">
        Escreva sua motivação
        para tornar-se um colaborador
    </div>
    
    <form method="post" action="{% url 'formulario_colaborador' %}" style="width: 367px; height: 67px;" onsubmit="return validarFormulario();">
        {% csrf_token %}
        
        <div class="custom-select">
            <select id="id_opcao" name="cargo">
                <option value="" selected disabled>ESCOLHA UM CARGO</option>
                <option value="reportuser">SUPORTE E REPORTE</option>
                <option value="midiauser">GERENTE DE ACERVO</option>
            </select>
        </div>

        <div class="input-box">
            <textarea id="user-input" name="motivacao" placeholder="Digite seu texto aqui..."></textarea>
            <div class="card-add-colaborador-text" id="char-count" style="position: absolute; right: 0%; top: 100%; font-size: 18px; line-height: 18px;">Limite de caracteres: 1500</div>
        </div>

        <div class="button-container">
            <button type="submit" class="custom-button" name="submit_type" value="enviar">
                <span class="button-text">Enviar</span>
            </button>
        </div>

        <div class="button-container" style="left: 1700px; top: 998px;">
            <button type="submit" class="custom-button" style="background: #A00128;" name="submit_type" value="descartar">
                <span class="button-text">Descartar</span>
            </button>
        </div>

    </form>

    <script>
        function validarFormulario() {
            var cargo = document.getElementById('id_opcao').value;
            var motivacao = document.getElementById('user-input').value;
            var botaoClicado = event.submitter.value;

            if (botaoClicado === 'descartar') {
                return true;
            }

            if (cargo === "" || motivacao === "") {
                alert("Por favor, preencha todos os campos antes de enviar.");
                return false;
            }

            return true;
        }

        var textarea = document.getElementById('user-input');
        var charCount = document.getElementById('char-count');

         // Define o comprimento máximo permitido
        var maxLength = 1500;

         // Função para contar caracteres e atualizar a contagem
        function countCharacters() {
            var currentLength = textarea.value.length;

            if (currentLength > maxLength) {
                textarea.value = textarea.value.substring(0, maxLength);
                currentLength = maxLength;
            }

            charCount.textContent = 'Caracteres restantes: ' + (maxLength - currentLength);
        }

         // Adiciona um ouvinte de evento ao campo de texto
        textarea.addEventListener('input', countCharacters);

         // Chama a função inicialmente para garantir que a contagem seja exibida corretamente
        countCharacters();

        // Obtém o token CSRF do cookie
        var csrftoken = getCookie('csrftoken');

        // Configura o cabeçalho da solicitação AJAX
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

    </script>


</body>

{% endblock %}