{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <!-- seu_template_cargo.html -->
    {% include 'partial/_navbar.html'%}
    

    <div class="formulario-user-imagem-contener">
        <img class="formulario-user-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
    </div>

    <div class="formulario-user-texto-nome">
        {{user.first_name}} {{user.last_name}}
    </div>

    <div class="formulario-texto-intrucao">
        Escreva sua motivação
        para tornar-se um colaborador
    </div>
    
    <form method="post" action="{% url 'formulario_colaborador' %}" style="width: 367px; height: 67px;">
        {% csrf_token %}
        
        <div class="custom-select">
            <select id="id_opcao" name="cargo">
                <option value="" selected disabled>ESCOLHA UM CARGO</option>
                <option value="reportuser">SUPORTE E REPORTE</option>
                <option value="midiauser">GERENTE DE ACERVO</option>
            </select>
        </div>

        <div class="input-box">
            <textarea id="user-input" name="motivacao" placeholder="Digite seu texto aqui..."></textarea>
            <div class="card-add-colaborador-text" id="char-count" style="position: absolute; right: 0%; top: 100%; font-size: 18px; line-height: 18px;">Limite de caracteres: 1500</div>
        </div>

        <div style="position: absolute; width: 132.31px; height: 33.65px; left: 1522px; top: 998px;">
            <button type="submit" style="width: 120.83px; height: 33.65px; background: #37ABC8; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: none; outline: none;">
                <span style="font-family: 'Josefin Sans'; font-style: normal; font-weight: 600; font-size: 24px; line-height: 24px; display: flex; align-items: center; text-align: center; color: #F8F8F8; position: absolute; left: 23px; top: 6px;">
                    Enviar
                </span>
            </button>
        </div>

    </form>

    <div style="position: absolute; width: 152.31px; height: 33.65px; left: 1682px; top: 998px;">
        <button type="submit" style="width: 130.83px; height: 33.65px; background: #A00128; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: none; outline: none;">
            <span style="font-family: 'Josefin Sans'; font-style: normal; font-weight: 600; font-size: 24px; line-height: 24px; display: flex; align-items: center; text-align: center; color: #F8F8F8; position: absolute; left: 13px; top: 6px;">
                Descartar
            </span>
        </button>
    </div>

    


    <script>
        // Obtém uma referência ao campo de texto e à div de contagem de caracteres
        var textarea = document.getElementById('user-input');
        var charCount = document.getElementById('char-count');
    
        // Define o comprimento máximo permitido
        var maxLength = 1500;
    
        // Função para contar caracteres e atualizar a contagem
        function countCharacters() {
            var currentLength = textarea.value.length;
    
            if (currentLength > maxLength) {
                textarea.value = textarea.value.substring(0, maxLength);
                currentLength = maxLength;
            }
    
            charCount.textContent = 'Caracteres restantes: ' + (maxLength - currentLength);
        }
    
        // Adiciona um ouvinte de evento ao campo de texto
        textarea.addEventListener('input', countCharacters);
    
        // Chama a função inicialmente para garantir que a contagem seja exibida corretamente
        countCharacters();
    </script>
    

</body>

{% endblock %}