<!-- user_detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block content %}
<body>

    {% include 'partial/_navbar.html'%}
    <!-- Conteúdo detalhado do usuário aqui -->
    
    <div class="colaborador_texto_navbar_vertical">Detalhes do Usuário</div>

    <div style="margin-left: 300px; padding: 200px; position: fixed">
        <div class="card-gestao-equipe-imagem-contenerr">
            <img src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
        </div>

        <div class="card-add-colaborador-text">
            <div>
                <strong>Username:</strong> {{ user.username }}
            </div>
            <div>
                <strong>Último Login:</strong> {{ user.last_login|date:"d/m/Y" }}
            </div>
            <div>
                <strong>Email:</strong> {{ user.email }}
            </div>
            <div>
                <strong>Interações:</strong> {{ user.historicos_count }}
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %} 