{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="display: flex; align-items:flex-start;">
    {% include 'partial/_navbar.html'%}

    {% if perfil_colaborador %}
        <div class="colaborador_texto_navbar_vertical">Detalhes do Usuário</div>

        <div class="card-add-colaborador" style="margin-left: 40%; padding: 5%; position: fixed;">

            <div class="card-gestao-equipe" style="padding: 5%; position: fixed; left: 10%;">
                <div class="card-gestao-equipe-imagem-contener">
                    <img class="card-gestao-equipe-imagem" src="{% static 'assets/fotos/foto1.jpeg' %}" alt="{{ user.username }} Foto">
                </div>

                <br>

                <div class="card-gestao-equipe-informacao-contener">
                    <div class="card-gestao-equipe-text" style="font-size: medium; color: black">
                        <div style="margin-top: 2%;">
                            <strong>Username:</strong> {{ perfil.user.username }}
                            &nbsp;
                            <strong>Email:</strong> {{ perfil.user.email }}
                            &nbsp;
                            <strong>Cargo:</strong> {{ perfil.cargo }}
                        </div>
                        <br>
                    </div>
                    <br>
                </div>             
                <div class="card-gestao-equipe-motivacao-contener">
                    <div class="card-gestao-equipe-motivacao-box">
                        <div class="card-gestao-equipe-motivacao-text" style="font-size: medium; text-align: center;">
                            <strong style="font-size: x-large; color: black">Motivação</strong>
                            <br>
                            {{ perfil.motivacao }}
                        </div>
                    </div>

                    <div class="card-gestao-equipe-motivo-remocao-box">
                        <div class="card-gestao-equipe-motivacao-text" style="font-size: medium; text-align: center;">
                            <strong style="font-size: x-large;">Motivo de Remoção</strong>
                            <br>
                            <form method="post" action="{% url 'remover_usuario' perfil.id %}">{% csrf_token %}
                                <textarea name="motivo_remocao" id="motivo_remocao" rows="7" cols="40" style="resize: none; border-radius: 5px;">{{ perfil.motivo_remocao }}</textarea>
                                <button type="submit" style="border: none; margin-left: 1%; margin-top: 7%; outline: none; background: none;">
                                    <img style="border: none;height: 50px;margin-top: -8px;" src="{% static 'assets/imagens/BotaoRemover.png' %}" alt="Botão de Remover">
                                </button>
                                <input type="hidden" name="perfil_id" value="{{ perfil.id }}">
                            </form>
                        </div>
                    </div> 
                    <div class="card-gestao-equipe-motivacao-alteracao">
                        <form method="post" action="{% url 'alterar_cargo' perfil.id %}">
                            {% csrf_token %}
                            <div class="custom-select" style="left: 280px; top: 127px; width: 336px; height: 42px;"> <!-- Ajuste o valor conforme necessário -->
                                <select id="id_opcao" name="cargo">
                                    <option value="" selected disabled>ESCOLHA UM CARGO</option>
                                    <option value="reportuser">SUPORTE E REPORTE</option>
                                    <option value="midiauser">GERENTE DE ACERVO</option>
                                    <option value="masteruser">GESTOR DE EQUIPE</option>
                                </select>
                            </div>
                            <button type="submit" style="border: none; margin-left: 1%; margin-top: 70%; outline: none; background: none; position: absolute; left: 270px; top:-290px">
                                <img style="border: none;height: 50px;margin-top: -8px;" src="{% static 'assets/imagens/botaoalterar.png' %}" alt="Botão de Atualizar">
                            </button>
                        </form>
                    </div>                                              
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% else %}
    <p>Não foi possível encontrar o perfil do colaborador.</p>
{% endif %}
{% endblock %}
