{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    {% include 'partial/_navbar.html'%}

    <div class="main-content" style="margin-top: 50px; margin-left: 400px;">
        <h1>Perfis de Colaboradores Ativos</h1>

        <div class="perfis-Colaboradores">
            {% if perfis_colaboradores %}
                <div class="perfis-Grid">
                    {% for perfil in perfis_colaboradores %}
                        <div class="perfil">
                            <img src="{% static 'assets/imagens/IconeUsuarioLista.png' %}" alt="perfil-Lista" class="perfil-Imagem">
                            <div class="perfil-Info">
                                <p class="username-overlay">{{ perfil.user.username }}</p>
                                <p class="cargo-Cor"><b>Cargo: </b>{{ perfil.get_cargo_display }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p><b>Não há perfis de colaboradores ativos.</b></p>
            {% endif %}
        </div>

    </div>

</body>
</html>
{% endblock %}