{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    
    {% include 'partial/_navbar.html'%}

    <div class="top-right-image" style="position: absolute; top: 20px; right: 20px;">
        {% if user.is_authenticated %}
            <div class="profile-container" style="position: relative; display: inline-block;">
                <img src="{% static 'assets/icones/BarraUsuarioLogado.png' %}" alt="Imagem de Perfil" style="width: 200px; height: auto;">
                <p class="username-overlay" style="position: absolute; top: 20%; left: 40%; transform: translate(-50%, -50%); color: #F8F8F8; text-align: center; font-weight: bold; font-family: 'Josefin Sans', sans-serif;">{{ user.username }}</p>
            </div>
            
        {% else %}
        <a class="botão_login" href="{% url 'login' %}">
            <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174493031760658553/Group_262.png?ex=6567cadf&is=655555df&hm=d7f1f07af0de7c68e855b0b1dc14f55801fb9c7025c3e5871a2de5f1b2d3c8b8&" alt="botão_login" style="width: 200px; height: auto;">
        </a>
        {% endif %}
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content" style="margin-left: 250px; padding: 20px;">
        <!-- Seu conteúdo principal aqui -->
    </div>

</body>
</html>
{% endblock %}