{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-image: url("{% static 'assets/imagens/FundoLC.png' %}"); 
        background-size: cover;
        background-position: center;
        font-family: 'Josefin Sans', sans-serif;
    }
    #imagem-ao-lado {
        max-width: 20%; /* Ajuste a largura da imagem conforme necessário */
        margin-left: 830px; /* Espaçamento à esquerda da imagem */
        margin-bottom: 203px;
        margin-top: -320px;
        margin-right: -765px;
    }
    #botaologin{
        max-width: 40%;



    }
    .texto-link {
        color: RGB(5, 99, 193);
    }
    .texto-link:hover {
        color: white;
    }
</style>

<body style="align-items: center;">
    
    <div class="containerLogin">

        <br>

        <div style="text-align: left; color: #ffffff;">
            <h1>LOGIN</h1>
        </div>
        
        {% if error_message %}
            <h3 style="color: red;">{{ error_message }}</h3>
        {% endif %}
        
        <form method="post" action="{% url 'login' %}">

            {% csrf_token %}
            <div class="input-container">
                <label for="username" style="font-weight: bold; font-size: 20px; text-align: left; color: #ffffff">Username:</label>
                <br>
                <input type="text" id="username" name="username" style="width: 400px; height: 30px; font-size: 20px;" required><br>
            </div>

            <br>
            
            <div class="input-container password-field">
                <label for="password" style="font-weight: bold; font-size: 20px; text-align: left; color: #ffffff">Password:</label>
                <br>
                <input type="password" id="password" name="password" style="width: 400px; height: 30px; font-size: 20px;" required>
            </div>
            
            <a href="{% url 'cadastro' %}" alt="Link Cadastro" class="texto-link">Não possui Login? Cadastre-se</a>

            <div class="btn-container">
                <button type="submit" style="border: none; outline: none; background: none;">
                    <img style="border: none;" src="{% static 'assets\imagens\botaologin.png' %}" alt="Botão de Login">
                </button>
                
        </div>



        </form>
    </div>
    <img id="imagem-ao-lado" src="{% static 'assets\imagens\icone+logo.png' %}" alt="Icone e Logo"></body>
</html>
{% endblock %}