{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .botaoReporteESuporte:hover {
        transform: scale(1.1); /* Aumenta ligeiramente o tamanho ao passar o mouse */
        cursor: pointer; /* Muda o cursor para indicar que é clicável */
    }

</style>
<body>
    <!-- Conteúdo detalhado do usuário aqui -->
    {% include 'partial/_navbar.html'%}

    <div>
        <div class="colaborador_texto_navbar_vertical">Suporte e Reporte</div>
        <a class="botaoSair" href="{% url 'home' %}" style="display: block;">
            <img class="navbar-seta-voltar" id="SetaBackID" src="{% static 'assets/imagens/SetaBack.png' %}" style="display: block;" alt="botaoSair">
        </a>
    </div>  

    <div style="margin-left: 380px; padding: 100px;">
        <img class="botaoReporteESuporte" id="botaoSuporte" src="{% static 'assets/imagens/BotaoSuporteMudar.png' %}" alt="Botao de Suporte">
        <img class="botaoReporteESuporte" id="botaoReporte" src="{% static 'assets/imagens/BotaoReporteMudar.png' %}" alt="Botao de Reporte">

        <div style="color: white;">
            <div id="formularioSuporte" style="display: block;">
                {% if formularios_suporte %}
                    <ul style="margin-left: -150px;">
                        {% for formulario_suporte in formularios_suporte %}
                        <div class="card-suporte-reporte">
                            <li style="position: relative; margin-bottom: 20px;">
                                <div class="suporte-reporte-text" style="position: absolute; padding: 10px;">
                                    <b>- Suporte -</b>
                                    <br>
                                    <b>Nome do Usuário:</b> {{ formulario_suporte.user.username }}
                                    <br>
                                    <b>Problema:</b> {{ formulario_suporte.texto }}
                                </div>
                            </li>
                        </div>            
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>


        <div style="color: white;">
            <div id="formularioReporte" style="display: none;">
                {% if formularios_reporte %}
                <ul style="margin-left: -150px;">
                    {% for formularios_reporte in formularios_reporte %}
                    <div class="card-suporte-reporte">
                        <li style="position: relative; margin-bottom: 20px;">
                            <div class="suporte-reporte-text" style="position: absolute; padding: 10px;">
                                <b>- Reporte -</b>
                                <br>
                                <b>Nome do Usuário:</b> {{ formularios_reporte.user.username }}
                                <br>
                                <b>Problema:</b> {{ formularios_reporte.texto }}
                                {% if formularios_reporte.midia %}
                                    <br>
                                    <b>Mídia:</b> {{ formularios_reporte.midia.titulo }}
                                {% else %}
                                    <br>
                                    <b>Nenhuma mídia disponível</b>
                                {% endif %}
                            </div>
                        </li>
                    </div>         
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        </div>
        <!-- Formulário de Reporte -->
    </div>

    <script>
        // Adicione um evento de clique para cada botão
        document.getElementById("botaoSuporte").addEventListener("click", function() {
            // Mostra o formulário de Suporte e esconde o formulário de Reporte
            document.getElementById("formularioSuporte").style.display = "block";
            document.getElementById("formularioReporte").style.display = "none";
        });

        document.getElementById("botaoReporte").addEventListener("click", function() {
            // Mostra o formulário de Reporte e esconde o formulário de Suporte
            document.getElementById("formularioReporte").style.display = "block";
            document.getElementById("formularioSuporte").style.display = "none";
        });
    </script>
</body>
{% endblock %}
