{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color: #ffff; margin: 0;">

    <!-- Navbar à esquerda -->
    <div class="sidebar" style="background-color: #101214; height: 100vh; width: 250px; position: fixed; top: 0; left: 0; display: flex; flex-direction: column; align-items: center; border-radius: 0 15px 15px 0;">
        
        <ul style="list-style-type: none; padding: 0; margin-top: 20px; display: flex; flex-direction: column; gap: 20px;">
            
            <li style="margin-bottom: 10px; width: 100%; text-align: center;">
                <a class="logo" href="{% url 'home' %}" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174343025208594474/Logo_Libreflix.png?ex=65673f2b&is=6554ca2b&hm=b519c199e1108554a602b8d4a06512ff3cccd84b7c759aff92c66b4b89d557c1&" alt="Logo" style="display: inline-block; vertical-align: middle; margin-bottom: 10px;">
                </a>
                <a class="logo" href="https://sites.google.com/cesar.school/eden/equipe" target="_blank" style="display: block; text-align: right">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174358212003246181/Vector.png?ex=65674d50&is=6554d850&hm=10b8f173ab05cee2a32068f1bd4a59e435f35a0866ef281ff5ca0ad7d4c40bea&" alt="Logo Lumi" style="display: inline-block; vertical-align: top;">
                </a>
            </li>

            &nbsp;

            <li>
                <a class="gestaoTitulos" href="#" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174354160079093820/Group_84.png?ex=6567498a&is=6554d48a&hm=a0e16e63d4258b4ac59555df4873d84962109b589b05bb99676ff4a46e87b3b9&" alt="gestaoTitulos" style="display: inline-block; vertical-align: middle;">
                </a>
            </li>

            &nbsp;

            <li>
                <a class="gestaoEquipe" href="#" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174483038776868904/Group_259_1.png?ex=6567c191&is=65554c91&hm=e01743adc5dcf053b3ec4f0e4f5f739fe2e9f9ce2c68331dfe643867bd14ec5e&" alt="gestaoEquipe" style="display: inline-block; vertical-align: middle;">
                </a>
            </li>

            &nbsp;

            <li>
                <a class="configuracao" href="#" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174354793628717066/Group_82.png?ex=65674a21&is=6554d521&hm=7b268a4e239e87422b092d565668e46d19575940796511bc3cae48f10cb0855e&" alt="configuracao" style="display: inline-block; vertical-align: middle;">
                </a>
            </li>

            &nbsp;

            <li>
                <a class="suporte" href="#" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174354807839002694/Group_83.png?ex=65674a24&is=6554d524&hm=ddbb5e3d0b4d2f233ed7b9ff3b95ce6600395ef7fbc674784690ac6619f6d8d1&" alt="suporte" style="display: inline-block; vertical-align: middle;">
                </a>
            </li>

            &nbsp;

            <li>
                <a class="logout" href="#" style="display: block;">
                    <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174355683043463238/Group_259.png?ex=65674af5&is=6554d5f5&hm=374e3d61fa90e2944364f727fcaf0fd2199919e2ed7df352a9a39c586424c36d&" alt="logout" style="display: inline-block; vertical-align: middle;">
                </a>
            </li>
        </ul>
    </div>

    <div class="top-right-image" style="position: absolute; top: 20px; right: 20px;">
        {% if user.is_authenticated %}
            <div class="profile-container" style="position: relative; display: inline-block;">
                <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174652292511842395/Group_261_3.png?ex=65685f32&is=6555ea32&hm=8a193633a83477c704797eb934b2fb04aee0742f79b0332f633b5562823aadcd&" alt="Imagem de Perfil" style="width: 200px; height: auto;">
                <p class="username-overlay" style="position: absolute; top: 20%; left: 40%; transform: translate(-50%, -50%); color: #F8F8F8; text-align: center; font-weight: bold; font-family: 'Josefin Sans', sans-serif;">{{ user.username }}</p>
            </div>
        {% else %}
        <a class="botão_login" href="{% url 'login' %}">
            <img src="https://cdn.discordapp.com/attachments/938158080733110393/1174493031760658553/Group_262.png?ex=6567cadf&is=655555df&hm=d7f1f07af0de7c68e855b0b1dc14f55801fb9c7025c3e5871a2de5f1b2d3c8b8&" alt="botão_login" style="width: 200px; height: auto;">
        </a>
        {% endif %}
    </div>

    <!-- Conteúdo principal -->
    <div class="main-content" style="margin-left: 250px; padding: 20px;">
        <!-- Seu conteúdo principal aqui -->
    </div>

</body>
</html>
{% endblock %}
