<style>
    .password-field label {
        margin-left: 2px;
    }
    .password-field input {
        margin-left: 2px;
    }
</style>

{% extends 'base.html' %}
{% load static %}
{% block content %}
<body style="background-color: #ffffff">
    {% include 'partial/_navbar.html' %}
    
    <a href="{% url 'home' %}">
        <button class="botao">Formulario preceptor</button>
    </a>
    <a href="{% url 'home' %}">
        <button class="botao">logout</button>
    </a>
</body>
</html>
{% endblock %}
