/* Navbar Styles */
body {
  background-color: #23353F; 
  margin: 0;
  min-width: 1500px;
  min-height: 750px;
}
.navbar {
  position: relative;
  background: #004853;
  width: 100%;
  height: 84px;
  min-width: 1920px;
}

.icone_navbar {
  display: inline-block; 
  margin-bottom: 2px; 
  width: 304.5px; 
  height: 54.75px;
  align-self: flex-end;
}

.icone_logout {
  position: relative;
  width: 93px;
  height: 39px;
  left: 43px;
  top: max(90%, 700px);
}

.sidebar_colaborador {
  background-color: #101214; 
  height: 100%; 
  width: 350px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  display: flex; 
  flex-direction: column; 
  align-items: flex-end;
  z-index: 100;
}
  
.logo1 {
  height: 71px;
  width: 265px;
  background-image: url('/static/assets/logos/logo1.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 83px;
  left: 37px;
  margin-bottom: 20px;
}


.botao {
    width: 300px;
    height: 70px;
    background: rgba(168, 221, 181, 0.7);
    border-radius: 5px;
    border: none;
    outline: none;

    font-family: "Helvetica Neue", Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 23px; 
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.colaborador_texto_navbar_vertical {
  position: absolute;
  width: 395px;
  height: 51px;
  left: 520px;
  top: 29px;
  z-index: 99;

  font-family: 'Josefin Sans', 'Trebuchet MS';
  font-style: normal;
  font-weight: 600;
  font-size: 43px;
  line-height: 43px;
  display: flex;
  align-items: center;

  color: #F8F8F8;
}

/* Adicionar Colaborador */
.search-bar-add-colaborador {
  position: absolute; 
  width: 523px;
  height: 32px;
  left: 450px; 
  top: 176px;  
  background: transparent;
  opacity: 50%;
  border-radius: 20px;
  border: none; 
  outline: none;
  color: #ffffff;
  text-align: left; 
  line-height: 32px; 
  padding-left: 40px;
}

.search-bar-add-colaborador-backgroud {
  position: absolute; 
  width: 563px;
  height: 58px;
  left: 450px; 
  top: 150px;  /* ou a posição desejada */
}

.card-add-colaborador-grid {
  position: absolute; 
  width: 70%; 
  left: 450px; 
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-add-colaborador {
  display: flex;
  justify-content: flex-end;
  width: 436px;
  height: 160px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.card-add-colaborador-imagem-contener {
  width: 160px;
  height: 160px;
  background: #ffffff;
  border-right: 8px solid #01BFD0;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
}

.card-add-colaborador-imagem {
  width: 160px;
  height: 160px;
}
.card-add-colaborador-blue-box {
  width: 258px;
  height: 98px;
  background: #01BFD0;
  border-radius: 15px;
  display: flex;
  flex-direction: column; /* Alinha o texto na vertical */
  justify-content: flex-start; /* Alinha o texto à esquerda */
  margin-top: 31px;
}

.card-add-colaborador-text {
  font-family: 'Josefin Sans', 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #F8F8F8;
  margin-left: 20px;
  margin-top: 10px;
  max-width: 220px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Formulario Colaborador */

/* Avatar / Image-80 */
.formulario-user-imagem-contener {
  position: absolute;
  width: 225px;
  height: 225px;
  left: 520px;
  top: 214px;
  border-radius: 200px;
  overflow: hidden;
}

.formulario-user-imagem {
  width: 225px;
  height: 225px;
}

.formulario-user-texto-nome {
  position: absolute;
  width: 567px;
  height: 48px;
  left: 786px;
  top: 270px;

  font-family: 'Josefin Sans', 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;

  color: #FFFFFF;
}

.formulario-texto-intrucao {
  position: absolute;
  width: 446px;
  height: 64px;
  left: 1342px;
  top: 325px;

  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;

  color: #FFFFFF;
}

/* Estilos CSS para os perfis de colaboradores */
.perfis-Colaboradores {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaço entre os perfis */
}

.perfil {
  position: relative;
  flex-basis: calc(50% - 10px); /* Divide em duas colunas */
  display: flex;
  align-items: flex-start; /* Alinha os itens ao topo do perfil */
  padding: 10px;
  box-sizing: border-box;
}

.perfil-Imagem {
  width: auto;
  height: auto;
  padding: 20px;
  margin-right: 20px;
  position: relative;
}

.perfil-Info {
  position: absolute;
  top: 35%;
  left: 45%;
  padding: 10px;
  color: #F8F8F8;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1;
}

.username-overlay {
  margin: 0;
}

.cargo-Cor {
  color: #000000;
}

.custom-select {
  position: absolute;
  left: 786px;
  top: 325px;
  width: 367px;
  height: 67px;
  background: #37ABC8;
  border-radius: 29px;
  overflow: hidden;
}

/* Estilizando o seletor dentro do contêiner */
.custom-select select {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #000000;
  font-family: 'Josefin Sans', 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 24px;
  padding: 0 10px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Ícone personalizado (opcional) */
.custom-select::after {
  content: '\25BC'; /* Ícone da seta para baixo */
  font-size: 23px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Estilizando a caixa de texto */
.input-box {
  position: absolute;
  width: 67%;
  max-width: 1267px;
  height: 450px;
  left: 520px;
  top: 474px;
  background: #37ABC8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 20px;
}

/* Estilizando o textarea dentro da caixa */
#user-input {
  width: 100%;
  height: 100%;
  font-family: 'Josefin Sans', 'Helvetica';
  font-size: 16px;
  border: none; /* Remova a borda padrão se desejar */
  outline: none; /* Remova a borda de foco se desejar */
  background: transparent; /* Torna o fundo transparente */
  color: #000000;
}
