{% load static %}

<style>
  body {
    margin: 0;
    padding: 0;
  }

  .navbar {
    position: relative;
    background: #101214;
    width: 100%;
    height: 100px;
  }

  .logo {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-decoration: underline;
    color: #FFFFFF;
    position: absolute;
    top: 30px;
    left: 22px;
  }

  .user-link {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    text-decoration: underline;
    color: #FFFFFF;
    position: absolute;
    top: 43px;
  }
</style>

<div class="navbar">
  <a class="logo", href="{% url 'home' %}"><img src="https://cdn.discordapp.com/attachments/938158080733110393/1174343025208594474/Logo_Libreflix.png?ex=65673f2b&is=6554ca2b&hm=b519c199e1108554a602b8d4a06512ff3cccd84b7c759aff92c66b4b89d557c1&" alt="Logo"></a>
  {% if user.is_authenticated %}
  <button id="toggleButton" class="off">User</button>

  <div id="popup" class="popup" style="display: none;">
    <div class="popup-content">
      <span id="closePopup" style="float: right; cursor: pointer;">&times;</span>
      <p>.</p>
      {% include 'partial/_user_menu.html' %}
    </div>
  </div>
    
  {% else %}
    <a class="user-link" style="right: 40px;" href="{% url 'login' %}">Login/Cadastro</a>
  {% endif %}
</div>

<script>
  const toggleButton = document.getElementById("toggleButton");
  const popup = document.getElementById("popup");
  const closePopup = document.getElementById("closePopup");
  
  toggleButton.addEventListener("click", function() {
    toggleButton.classList.toggle("on");
    if (toggleButton.classList.contains("on")) {
      toggleButton.textContent = "User";
      popup.style.display = "block";
    } else {
      toggleButton.textContent = "User";
      popup.style.display = "none";
    }
  });
  
  closePopup.addEventListener("click", function() {
    popup.style.display = "none";
  });
  
  window.addEventListener("click", function(event) {
    if (event.target == popup) {
      popup.style.display = "none";
    }
  });
  </script>
