{% load static %}

<!-- Navbar à esquerda -->
<div class="sidebar_colaborador">
    
    <ul style="list-style-type: none; padding: 0; margin-top: 20px; display: flex; flex-direction: column; gap: 20px;">

        <li style="margin-bottom: 10px; width: 100%; text-align: center;">
            <a class="logo" href="{% url 'home' %}" style="display: block;">
                <img src="{% static 'assets/icones/Logo.png' %}" alt="Logo" style="display: inline-block; margin-bottom: 10px;">
            </a>
        </li>

        <li>
            <a class="home" href="{% url 'home' %}" style="display: block;">
                <img class="icone_navbar" img src="{% static 'assets/imagens/Botao_Home-2.png' %}" alt="home">
            </a>
        </li>

        {% if perfil_colaborador %}
          {% if perfil_colaborador.atividade %}
            <li>
                <a class="gestaoTitulos" href="#" style="display: block;">
                    <img class="icone_navbar" src="{% static 'assets/imagens/BotaoGestaoTitulos-2.png' %}" alt="gestaoTitulos">
                </a>
            </li>

            <li>
                <a id="NovosMembros" class="novosMembros" href="{% url 'novos_membros' %}" style="display: block;">
                    <img class="icone_navbar" id="IconeNovosMembros" src="{% static 'assets/imagens/BotaoNovosMembros-2.png' %}" alt="novosMembros">
                </a>
            </li>

            <li>
                <a class="listaUsuarios" href="#" style="display: block;">
                    <img class="icone_navbar" src="{% static 'assets/imagens/BotaoListaUsuarios-2.png' %}" alt="listaUsuarios">
                </a>
            </li>

            <li>
                <a class="gestaoEquipe" href="{% url 'gestao_equipe' %}" style="display: block;">
                    <img class="icone_navbar" src="{% static 'assets/imagens/BotaoGestaoEquipe-2.png' %}" alt="gestaoEquipe">
                </a>
            </li>

            <li>
                <a class="configuracao" href="#" style="display: block;">
                    <img class="icone_navbar" src="{% static 'assets/imagens/BotaoConfiguracao-2.png' %}" alt="configuracao">
                </a>
            </li>

            <li>
                <a class="suporte" href="#" style="display: block;">
                    <img class="icone_navbar" src="{% static 'assets/imagens/BotaoSuporte-2.png' %}" alt="suporte">
                </a>
            </li>
          {% else %}
          {% endif %}
        {% else %}
        {% endif %}

        &nbsp;

        
    </ul>
    <a class="botaoSair" href="{% url 'logout' %}" style="display: block;">
        <img class="icone_logout" src="{% static 'assets/imagens/BotaoSair.png' %}" alt="botaoSair">
    </a>
    
</div>

<!-- Navbar horizontal abaixo da Sidebar -->
<nav class="navbar-horizontal" style="background-color: #004853; width: 1920px; height: 100px; position: fixed; top: 0; left: 280px; z-index: 99;">

    <!-- Links da Navbar -->
    <ul style="list-style-type: none; padding: 0; display: flex; gap: 20px;">

        <!-- Seus links da Navbar aqui... -->

    </ul>
</nav>

<script>
    function alterarImagem() {
        var urlAtual = window.location.href;

        if (urlAtual.includes('novos_membros')) {
            var iconeNovosMembros = document.getElementById('IconeNovosMembros');
            iconeNovosMembros.src = "{% static 'assets/imagens/BotaoNovosMembros2-2.png' %}";
        }
    }

    window.onload = alterarImagem;
</script>