{% load static %}

{% if perfil_colaborador %}
    {% if perfil_colaborador.atividade %}
        <a href="{% url 'colaborador' %}">
            <button class="botao">Modo Colaborador</button>
        </a>
    {% else %}
        <a href="{% url 'formulario_colaborador' %}">
            <button class="botao">Formulario preceptor</button>
        </a>
    {% endif %}
{% else %}
    <a href="{% url 'formulario_colaborador' %}">
        <button class="botao">Formulario preceptor</button>
    </a>
{% endif %}

<a href="{% url 'home' %}">
    <button class="botao">logout</button>
</a>